/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* fondo de la pagina */
body{
    font-family: 'Oswald', sans-serif;
/*     background-color: #2E3E4D; */
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #360033,#0b8793);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #360033, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300vh; /* Asegúrate de que el cuerpo ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado */
}
/* seccion de seleccionar digimones */
#seleccionar-digimon{
    /*trabajar con flexbox*/
    display: flex;
    flex-direction: column; /*organizar todo el forma de columna*/
    align-items: center; /*centrar*/  
}
/* Titulo */
.Titulo{
    color: #E6EBF0;
    font-size: 38px;
    margin: 4px;
}/*cambia el color del titulo, este titulo es el h1, con class 'tituo'*/
/* subtitulo */
.subtitulo{
    color: #E6EBF0;
    font-size: 30px;
    margin: 4px;
    padding: 4px;
}
/* Tarjeta de los pokemones */
.ordenTarjetas{
    display: grid;
    grid-template-columns: 227px 226px 226px;
    grid-template-rows: 240px 240px;
}
.tarjetaExclaneitor, .tarjetaPiplox, .tarjetaGrover, .tarjetaRyros, .tarjetaKyros, .tarjetaPyros{
    font-size: 24px;
    color: #E6EBF0;
    width: 200px;
    height: 218px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 32px;
    display: flex;
    border: 9px double #F5F7FA;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tarjetaExclaneitor{
    background-color: #F3722C;
}
/* tamaño de la imagen */
.tarjetaExclaneitor img, .tarjetaPiplox img, .tarjetaGrover img, .tarjetaRyros img, .tarjetaKyros img, .tarjetaPyros img{
    width: 125px;
}
/* nombre de la tarjeta */
#exclaneitorName, #piploxName, #groverName, #ryrosName, #kyrosName, #pyrosName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
/* propiedad para cuando el mouse pasa por encima de la tarjeta */
.tarjetaExclaneitor :hover{
    background-color: #E6EBF0;
    color: #F3722C;
    border-radius: 32px;
    cursor: pointer;
}
/* propiedad para cuando se selecciona a un digimon */
#Exclaneitor:checked + #labelExclaneitor{
    background-color: #E6EBF0;
    color: #F3722C;
    border-radius: 32px;
    cursor: pointer;  
}
.tarjetaPiplox{
    background-color: #277DA1;
}
.tarjetaPiplox :hover{
    background-color: #E6EBF0;
    color: #277DA1;
    border-radius: 32px;
    cursor: pointer;
}
#Piplox:checked + #labelPiplox{
    background-color: #E6EBF0;
    color: #277DA1;
    border-radius: 32px;
    cursor: pointer;
}
.tarjetaGrover{
    background-color: #90BE6D;
}
.tarjetaGrover :hover{
    background-color: #F5F7FA;
    color: #90BE6D;
    border-radius: 32px;
    cursor: pointer;
}
#Grover:checked + #labelGrover{
    background-color: #F5F7FA;
    color: #90BE6D;
    border-radius: 32px;
    cursor: pointer;
}
.tarjetaPyros{
    background-color: #F94144;
}
.tarjetaPyros :hover{
    background-color: #F5F7FA;
    color:#F94144;
    border-radius: 32px;
    cursor: pointer;
}
#Pyros:checked + #labelPyros{
    background-color: #F5F7FA;
    color:#F94144;
    border-radius: 32px;
    cursor: pointer;
}
.tarjetaKyros{
    background-color: #575890;
}
.tarjetaKyros :hover{
    background-color: #F5F7FA;
    color: #575890;
    border-radius: 32px;
    cursor: pointer;    
}
#Kyros:checked + #labelKyros{
    background-color: #F5F7FA;
    color: #575890;
    border-radius: 32px;
    cursor: pointer;
}
.tarjetaRyros{
    background-color: #8F5790;
}
.tarjetaRyros :hover{
    background-color: #F5F7FA;
    color: #8F5790;
    border-radius: 32px;
    cursor: pointer;
}
#Ryros:checked + #labelRyros{
    background-color: #F5F7FA;
    color: #8F5790;
    border-radius: 32px;
    cursor: pointer;
}
input{
    display: none;
}
/*Si ponemos div para cada seccion puede que nos de el color que necsitamos */

/*definir que el elemento que se encuentra en .tarjetaDeDigimon, en este caso la imagen
pueda ser de 80px de ancho y seguir las siguientes propiedades*/

/* Nos ahorramos escribir 2 veces las mismas propiedades usando la "," */
#seleccionar-movimientos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secuencias{
    padding: 8px;
    flex-direction: column;
    width: auto;
    height: 86px;
    font-size: 22px;
    border-radius: 34px;
    border: 9px double #F5F7FA;
    color: #F5F7FA;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    margin: 8px;
}
#boton-seleccionar, #boton-reiniciar,#boton-confirmar,#boton-cancelar{
    width: 252px;
    height: 70px;
    font-size: 22px;
    border-radius: 34px;
    background: #425A86;
    border: 9px double #F5F7FA;
    color: #F5F7FA;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
#confirmar-ataque{
    width: 580px;
    height: 210px;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: 22px;
    border-radius: 34px;
    background: #425A86;
    border: 9px double #F5F7FA;
    color: #F5F7FA;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
}
#seccion-si-no{
    display: flex;
}
#boton-seleccionar:hover, #boton-reiniciar:hover,#boton-confirmar:hover,#boton-cancelar:hover{
    background-color: #F5F7FA;
    color: #425A86;
    cursor: pointer;
    margin:10px
}
/* segunda pantalla */
.tarjetasDigimonElegido{
    display: flex;
    color: #F5F7FA;
    font-family: 'Oswald', sans-serif;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.tarjetasDigimonElegido img{
    width: 150px;
}
#jugadorImg, #enemigoImg{
    display: flex;
    border-radius: 34px;
    border: 9px double #F5F7FA;
    margin: 8px;
    padding: 12px;
    font-size: 26px;
}
#digimonJugadorNameImg, #digimonEnemigoNameImg{
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ataques{
    display: grid;
    grid-template-columns: 1fr 1fr;/* para mostrar dos columnas */
    grid-template-rows: 1fr 1fr;/* para mostrar 2 filas */
    padding:2px;
}
.ataquesDigimon{
    align-items: center;
    border-radius: 30px;
    font-size: 23px;
    border: 9px double white;
    height: 74px;
    width: 245px;
    font-family: 'Oswald', sans-serif;
    margin:10px;
}
#boton-fuego{
    background-color: #F85E12;
    color:#E6EBF0;
}
/* efecto cuando pasas el raton por encima de intercambiar colores */
#boton-fuego:hover{
    background-color: #F5F7FA;
    color:#F85E12;
    /* poner la manito cuando se pasa encima de esta opcion */
    cursor: pointer;
}
#boton-agua{
    background-color: #3AA2CF;
    color:#E6EBF0;
    cursor:pointer;
}
#boton-agua:hover{
    background-color: #F5F7FA;
    color:#3AA2CF;
    cursor:pointer;
}
#boton-tierra{
    background-color: #DA8A44;
    color:#E6EBF0;
    cursor:pointer;
}
#boton-tierra:hover{
    background-color: #F5F7FA;
    color:#DA8A44;
    cursor:pointer;
}

.resultadosBatalla{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #F5F7FA;
    font-family: 'Oswald', sans-serif;
}
#tarjeta-vidas-jugador, #tarjeta-vidas-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border: 9px double white;
    border-radius: 24px;
    margin: 10px;
    font-size: 20px;
    padding: 10px;
}
#seccionReiniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reiniciarCombate{
    flex-direction: column;
    width: auto;
    height: auto;
    font-size: 22px;
    border-radius: 34px;
    background: #425A86;
    border: 9px double #F5F7FA;
    color: #F5F7FA;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

/* mapa */
#seccion-canva{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
#mapa{
    border: 18px double white;
    border-radius: 20px;
}


/* seccion para adaptación a celulares */

/* Celures pantalla media-alta */
@media screen and (max-width:980px ){
    .ordenTarjetas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #seleccionar-digimon{
        flex-direction: column;
    }
    .Titulo{
        display: flex;
        color: #E6EBF0;
        font-size: 24px;
        margin: 8px;
        padding: 2px;
        justify-content: center;
    }/*cambia el color del titulo, este titulo es el h1, con class 'tituo'*/
    .subtitulo{
        color: #E6EBF0;
        font-size: 18px;
        margin: 8px;
        padding: 2px;
    }
    .ordenTarjetas{
        font-size: 14px;
        display: grid;
        grid-template-columns: 160px 160px;
        grid-template-rows: 180px 180px 180px;
    }
    .tarjetaExclaneitor, .tarjetaPiplox, .tarjetaGrover, .tarjetaKyros, .tarjetaPyros, .tarjetaRyros{
        font-size: 16px;
        width: 130px;
        height: 160px;
        justify-content: center;
        align-items: center;  
    }
    .tarjetaExclaneitor img, .tarjetaPiplox img, .tarjetaGrover img, .tarjetaKyros img, .tarjetaPyros img, .tarjetaRyros img{
        width: 90px;
        height: 100px;
        
    }
    #exclaneitorName, #piploxName, #groverName, #kyrosName, #pyrosName, #ryrosName{
        font-size: 14px;
        padding-bottom: 2px;
        width: 70px;
        height: 20px;
        align-items: center;
    }

    .ataques{
        flex-direction: column;
    }
    .ataquesDigimon{
        align-items: center;
        border-radius: 24px;
        border: 9px double white;
        height: 80px;
        font-family: 'Oswald', sans-serif;
        margin:6px;
    }
    #jugadorImg, #enemigoImg{
        display: flex;
    /*     background: #0DB0BF; */
        border-radius: 34px;
        border: 6px double #F5F7FA;
        margin: 4px;
        padding: 2px;
        font-size: 16px;
        width: 80px;
        height: 100px;
    }
    #jugadorImg img, #enemigoImg img{
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #boton-fuego, #boton-agua, #boton-tierra{
        border: 6px double #F5F7FA;
        font-size: 14px;
        width: 120px;
        height: 40px;
    }
    .resultadosBatalla{
        display: grid;
        grid-template-columns:300px 300px ;
        font-size: 16px;
    }
    #tarjeta-vidas-jugador, #tarjeta-vidas-enemigo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        border: 6px double white;
        border-radius: 24px;
        margin: 10px;
        font-size: 14px;
        padding: 10px;
    }
    .reiniciarCombate{
        display: grid;
        grid-template-rows: 40px 40px;
        width: 300px;
        font-size: 14px;
        height: 150px;
        margin: 4px;
    }
    #seccionReiniciar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #boton-reiniciar{
        width: 120px;
        height: 60px;
        border: 6px double white;
        font-size: 14px;
    }
    #resultado-final-batalla{
        font-size: 14px;

    }
}